head {
              font-family: 'Merriweather', serif;
              font-family: 'Open Sans', sans-serif;
}

/* banner related */

.banner {
              background-image: url('../resources/Banner\ Image.png');
              width: 1320px;
              height: 600px;
              margin: 50px auto;
              background-repeat: no-repeat;
              border-radius: 16px;
              align-items: center;

              #grad {
                            background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
              }

}

.banner-greeting {
              color: #FFF;
              text-align: center;
              font-size: 32px;
              font-weight: 400;
              padding-top: 150px;
}

.banner-title {
              color: #FFF;
              text-align: center;
              font-size: 72px;
              font-weight: 900;
              line-height: 95px;
              width: 632px;
              padding-left: 344px;
}

/* discount section */
.discount {
              text-align: center;
}

.discount h1 {
              color: #F00;
              font-family: Inter;
              font-size: 88px;
              font-weight: 700;
              margin-top: 120px;
}

.discount h3 {
              color: #F00;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
}

.discount h2 {
              color: #070211;
              font-family: Inter;
              font-size: 48px;
              font-weight: 700;
}

/* party section */

.midnight-party {
              background-image: url('../resources/Vectorrr.png');
              width: 1320px;
              height: auto;
              background-repeat: no-repeat;
              margin: 120px auto;
              display: flex;
}

/* .midnight-party-heading{
              padding: 126px;
} */

.midnight-party h1 {
              color: #FFF;
              font-size: 64px;
              font-weight: 900;
              line-height: 88px;
              letter-spacing: 7.04px;
              margin: 0;
}

.midnight-party-heading p{
              color: rgba(255, 255, 255, 0.80);

              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px; /* 166.667% */
              margin: 0;
}

.midnight-party-heading input{
              color: #FFF;
              text-align: center;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
              background: transparent;
              border: none;
              padding-top: 30px;
              padding-left: 40px;
}

.midnight-party-heading{
              padding: 126px;
}

.midnight-party-image img {
              display: flex;
              width: 319.83px;
              height: 464.662px;
              padding: 0.008px 0px 0px 0px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
}

.midnight-party-image {
              padding-top: 68px;
              padding-bottom: 67px;
              padding-right: 138px;
}

.midnight-party h3 {
              color: black;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
              padding-left: 126px;
              padding-bottom: 214px;
}

.btn-primary {
              color: #FFF;
              font-size: 20px;
              font-weight: 700;
}

.time {
              background-color: aliceblue;

              background-image: linear-gradient(180 deg, lightgray 50%);

              display: block;
              text-align: center;
              margin: 120px 150px;
              box-shadow: azure 5px;
              padding: 50px 385px 100px 385px;
}

.time span {
              color: #F00;
              text-align: center;
              font-size: 32px;
              font-weight: 600;
              line-height: 56px;
}

.time h3 {
              color: #070211;
              font-size: 32px;
              font-weight: 600;
              line-height: 56px;
}

.btn {
              color: #FFF;
              text-align: center;
              font-size: 20px;
              font-weight: 700;
              border-radius: 8px;
              background: #F00;
              padding: 5px 32px;
}

/* New offer */

.new-offer {
              display: flex;
              /* justify-content: space-between; */
              margin: 140px;
}

.new-offer .greeting {
              color: #F00;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
              padding-top: 70px;
              padding-bottom: 5px;
}

.head {
              color: #070211;
              font-size: 48px;
              font-weight: 900;
              padding-top: 5px;
}

.new-offer .description {
              color: rgba(7, 2, 17, 0.60);
              font-family: Inter;
              font-size: 20px;
              font-weight: 200;
              padding-top: 20px;
              padding-right: 70px;
}

.family {
              border-radius: 100%;
              border: 20px solid red;
              padding: 20px;
}

.heading {
              padding-top: 70px;
              color: #F00;
              font-size: 48px;
              font-weight: 700;
              padding-left: 118px;
}

.description1 {
              padding-left: 118px;
              color: rgba(7, 2, 17, 0.60);
              font-size: 20px;
              font-weight: 400;
              width: 276px;
}

.family2 {
              padding-left: 118px;
              width: 140px;
              height: 140px;
}

/* gift section */

.gifts {
              padding: 120px 150px;
}

.gift-greeting {
              color: #F00;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
              padding-bottom: 15px;
}

.gift-head {
              color: #070211;
              font-size: 48px;
              font-weight: 900;
              padding-bottom: 22px;
}

.gift-description {
              color: rgba(7, 2, 17, 0.60);
              font-family: Inter;
              font-size: 20px;
              font-weight: 400;
              line-height: 32px;
              width: 896px;
}

.first-line .a1 {
              padding-right: 24px;
}

.a2 {
              padding-right: 24px;
}

.b1 {
              padding-right: 24px;
              padding-top: 24px;
}

.b2 {
              padding-right: 24px;
              padding-top: 24px;
}

.b3 {
              padding-top: 24px;
}

/* subscribe section */
.subscribe {
              margin-top: 120px;
              border-radius: 16px;
              background: rgba(255, 0, 0, 0.05);
              text-align: center;
}

.sub-img {
              padding-top: 80px;
              width: 150px;
              height: 150px;
}

.sub-header {
              color: #070211;
              font-size: 48px;
              font-weight: 900;
              padding-top: 5px;
}

.sub-describtion {
              color: rgba(7, 2, 17, 0.60);
              font-family: Inter;
              text-align: center;
              font-size: 20px;
              font-weight: 400;
              line-height: 32px;
              width: 896px;
              padding-left: 220px;
}

.input-field {
              width: 400px;
              height: 50px;
              border-radius: 50px 0 0 50px;
              background: #FFF;
              padding-left: 30px;
              border: 0;
}

.src-section {
              padding-bottom: 80px;
              border-radius: 0px 50px 50px 0px;
              display: flex;
              margin-left: 25%;
}

.src-btn {
              border-radius: 0px 50px 50px 0px;
              background: #F00;
              height: 52px;
              width: 140px;
              border: none;
}

.src-btn span {
              padding-left: 0;
              color: #FFF;
              text-align: center;
              font-family: Inter;
              font-size: 20px;
              font-weight: 600;
}

/* footer section */

.foot {
              display: flex;
              justify-content: space-around;
              background-color: #070211;
              width: 1600px;
              height: 609;
              margin: 120px;
}

.address {
              padding: 120px 0 409px 40px;
}

.copy-right {
              padding: 120px;
              color: #FFF;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
}

.location {
              color: #FFF;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
              line-height: 40px;
}

.contact h4 {
              color: #FFF;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
              line-height: 40px;
}

.unsubscribe {
              color: #FFF;
              font-family: Inter;
              font-size: 24px;
              font-weight: 500;
              line-height: 40px;
}